.ohblogmenu-wrapper {
  height: 90px;
  background-color: #616bfb;
  align-items: center;
  justify-content: right;
}

.ohblog-menu-root
{
  display: inline-flex;
  cursor:pointer;
}

.ohblog-menu {
    float: left;
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
}

.ohblog-menu-horizontal {
    background-color: #616bfb; 
    border: none;
    border-bottom: 1px solid #616bfb;
    box-shadow: none;
    white-space: nowrap;
    overflow: hidden;
}

.ohblog-menu-horizontal:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.ohblog-menu-item {
    border-bottom: 2px solid transparent;
    display: inline-block;
    vertical-align: bottom;
}


.submenu-title-wrapper
{
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
    text-decoration:none;
    font-weight: bold;
}

.submenu-title-wrapper:hover{color: rgb(233, 174, 13); font-weight: bolder;}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ohblog-menu-submenu {
  padding: 0;
}

.ohblog-menu-submenu-title {
    margin: 0;
    position: relative;
    display: block;
    padding: 7px 7px 7px 16px;
    white-space: nowrap;
    width: 80px;
    text-decoration-color: red;
}

.ohblogmenuimg {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  padding-right: 40px;
}
